<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.starchartlabs.eclipse.template.dynamic.template"
         point="org.eclipse.ui.editors.templates">
      <resolver
            class="org.starchartlabs.eclipse.template.dynamic.resolver.EnclosedBeanFieldsResolver"
            contextTypeId="java"
            description="%resolver.description"
            name="%resolver.name"
            type="enclosed_bean_fields">
      </resolver>
   </extension>

</plugin>
